@import "tailwindcss";

button{
  cursor: pointer;
}

@theme {
  --color-base-50: #ffffff;
  --color-base-100: #f5f5f5;
  --color-base-200: #e5e5e5;
  --color-base-300: #d4d4d4;
  --color-base-400: #a3a3a3;
  --color-base-500: #737373;
  --color-base-600: #525252;
  --color-base-700: #404040;
  --color-base-800: #262626;
  --color-base-900: #171717;
  --color-base-950: #0a0a0a;
  /* --color-accent: #00B893;
  --color-accent-200: #00A383; */
  /* --color-accent: #365DD3;
  --color-accent-200: #284CB8; */
  --color-accent: #05668D;
  --color-accent-200: #284CB8;
}